# snippet base
# 	section .data
# 		${1:$}
# 	section .text
# 		global _start

# 	_start:

# snippet macro
# 	%macro ${1:macro_name} ${2:params}
# 		${$}
# 	%endmacro

# snippet inc
# 	%include '${1:file}'

# snippet stack
# 	push ebp
# 	mov  ebp, esp

# 	${1:$}

# 	leave
# 	ret

# snippet def
# 	%define ${1:$}
